.socials_icons .icon {
  transition: transform 0.3s;
}
.socials_icons .icon:hover {
  color: rgb(11, 161, 242);
  transform: scale(1.7);
}
.socials_icons .head {
  font-size: 25px;
  font-weight: bold;
  transition: transform 0.3s;
}
.socials_icons .head:hover {
  color: rgb(11, 161, 242);
  transform: scale(1.4);
  background-color: #8850e3;
}
